* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#left {
    background-image: url("./img/community.jpg");
    background-size: cover;
    width: max(300px, 35vw);
    height: 100vh;
}

#text-band {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem 1rem;
    position: relative;
    top: 30%;
}

#text-band > h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: white;
}
